
<h1>Books</h1>

<table>

  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>入門Git</td>
      <td>gitについての基本操作から内部構造まで解説してくれます</td>
      <td>
        <a class="" href="/books/:id">Show</a>
      </td>

      <td>
        <a class="" href="/books/:id/edit">Edit</a>
      </td>

      <td>
        <a data-confirm="Are you sure?" class="" rel="nofollow" data-method="delete" href="/books/:id">
          Destoroy
          </a>
      </td>
    </tr>
  </tbody>

</table>